.picker-frame {
  height: 1000px;
  width: 400px;
  border-radius: 15px;
  background-color: lightgray;
}
.picker-frame__header {
  background-color: gray;
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}